---
export interface Props {
	title: string
	body: string
	href: string
}

const { href, title, body } = Astro.props
---

<a class="before:bg-blue-300 hover:before:bg-blue-500 hover:bg-blue-200 before:w-1 before:mr-2 rounded-md flex my-2 p-3" href={href}>
	<div class="">
		<h2 class="text-xl font-bold">
			{title}
		</h2>

		<p class="mt-2">
			{body}
		</p>
	</div>
</a>
